<h2>ユーザー登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, :placeholder => 'ハンターの名前' %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => 'メールアドレス' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", :placeholder => 'パスワード' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上で入力)</em>
    <% end %><br />
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => 'パスワード確認' %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
