<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="/">プロはん養成所</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item mr-2 mb-1">
            <%= link_to '投稿する', new_technique_path, class:'btn btn-outline-info'%>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-user-circle"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to user_path(current_user), class: 'dropdown-item'  do %>
                <% if current_user.image? %>
                  <%= image_tag current_user.image.thumb40.url, class: 'icon' %>
                <% else %>
                  <%= image_tag "/assets/default.png", class: 'default-icon-sm' %>
                <% end %>
                マイページ
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item'%>
            </div>
          </li>         
        <% else %>
          <li class="nav-item"><%= link_to 'ユーザー登録', new_user_registration_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>