<div class="card text-center mb-2">
  <div class="card-header">
    <i class="fas fa-search"></i>
    <strong class="mt-2">絞り込み</strong>
  </div>
  <div class="card-body">
    <div class="search-form p-1">
      <%= search_form_for(@q, url:url) do |f| %>
        <%= f.label :weapon_id, '武器：' %>
        <%= f.collection_select :weapon_id_eq, Weapon.all, :id, :name, :include_blank => '指定なし' %><br/>

        <%= f.label :monster_id, 'モンスター：' %>
        <%= f.collection_select :monster_id_eq, Monster.all, :id, :name, :include_blank => '指定なし' %><br/>

        <div class="form-group mt-2">
          <%= f.search_field :title_or_user_name_cont, :placeholder => 'タイトル、投稿者のキーワード', class: 'form-control form-control-sm' %>
        </div>

        <%= f.submit '絞り込む', class:'btn btn-primary btn' %>
      <% end %>
    </div>
  </div>
</div>