<div class="comment-user-avatar">
  <% if current_user.image? %>
    <%= image_tag current_user.image.thumb40.url, class: 'icon' %>
  <% else %>
    <%= image_tag asset_path("default.png"), class: 'default-icon-md' %>
  <% end %>
  <span>コメントを入力</span>
</div>

<%= form_with(model: [technique, comment], remote: true) do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: 'form-control form-control-sm', placeholder: 'ここに文章を入力', rows: 1, required: true %>
  </div>
  <div class="action">
    <%= f.submit '投稿', class: 'btn btn-sm btn-outline-dark' %>
  </div>
<% end %>