<ul>
  <% comments.each do |comment| %>
    <li id=comment-<%= comment.id %>>
      <%= link_to user_path(comment.user) do %>
        <%= comment.user.name %>
      <% end %>
      <%= simple_format(comment.content) %>
      <%= link_to icon('fas', 'trash-alt'), technique_comment_path(comment.technique.id, comment.id), method: :delete, remote: true, data: { confirm: '削除してよろしいですか？' } %>
    </li>
  <% end %>
</ul>
