<% if techniques.empty? %>
  <div class="text-center mt-3">
    <p>投稿はありません</p>
  </div>
<% else %>
  <% techniques.each do |technique| %>
    <table class="table">
      <tr>
        <td>
          <div class="technique-header">
            <div class="avatarLink">
              <%= link_to user_path(technique.user) do %>
                <% if technique.user.image? %>
                  <%= image_tag technique.user.image.thumb24.url, class: 'icon' %>
                <% else %>
                  <%= image_tag "/assets/default.png", class: 'default-icon-sm' %>
                <% end %>
              <% end %>
              <%= link_to user_path(technique.user) do %>
                <%= technique.user.name %>
              <% end %>
            </div>
            <div class="created_at">
              が<%= technique.created_at.strftime('%Y年%m月%d日') %>に投稿
            </div>
          </div>
          <div class="technique-body">
            <div class="technique-title">
              <% if technique.youtube_url? %>
                <%= link_to technique_path(technique, anchor: 'youtube'), id:'youtubeIcon' do %>
                  <i class="fab fa-youtube fa-lg"></i>
                <% end %>
              <% end %>
              <%= link_to technique_path(technique) do %>
                <%= technique.title %>
              <% end %>
            </div>
            <div class="details">
              <div class="monster">
                <span class="badge badge-secondary">
                  <%= technique.monster.name %>
                </span>
              </div>
              <div class="weapon">
                <span class="badge badge-pill badge-dark">
                  <%= technique.weapon.name %>
                </span>
              </div>
            </div>
          </div>
              <div class="reputation">
                <div class="like-count">
                  <i class="fa fa-heart unlike-btn"></i>
                  <%= technique.likes.count %>
                </div>
                <div class="bookmark-count">
                  <i class="fas fa-bookmark"></i>
                  <%= technique.favors.count %>
                </div>
                <% if technique.comments.exists? %>
                  <div class="comment-count">
                    <%= link_to technique_path(technique, anchor: 'comments-area') do %>
                      <i class="fas fa-comments"></i>
                    <% end %>
                    <%= link_to technique_path(technique, anchor: 'comments-area') do %>
                      <%= technique.comments.count %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            
          </div>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>
