<h1>ハンター養成所</h1>

<div class="row justify-content-between">
  <div class="menu col-md-5">
    <aside>
      <div class="create-button">
        <%= link_to '投稿する', new_technique_path, class: 'btn btn-info btn-block' %>
      </div>
      <div class="card text-center mt-2">
        <strong class="mt-2">条件を指定して絞り込む</strong>
        <div class="search-form p-1">
          <%= search_form_for @q do |f| %>
            <%= f.label :weapon_id, '使用武器：' %>
            <%= f.collection_select :weapon_id_eq, Weapon.all, :id, :name, :include_blank => '指定なし' %><br/>

            <%= f.label :monster_id, 'モンスター：' %>
            <%= f.collection_select :monster_id_eq, Monster.all, :id, :name, :include_blank => '指定なし' %><br/>

            <div class="form-group mt-2">
              <%= f.search_field :title_or_user_name_cont, :placeholder => 'タイトル、投稿者を入力して絞り込めます', class: 'form-control form-control-sm' %>
            </div>
      
            <%= f.submit '絞り込む', class:'btn btn-primary btn' %>
          <% end %>
        </div>
      </div>
      <div class="card mt-3 mb-3">
        <div class="card-header text-center">
          <i class="fas fa-award"></i> お気に入りランキング <i class="fas fa-award"></i>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% @technique_ranks.each.with_index(1) do |technique_rank, i| %>
              <li class="list-group-item">
                <div class="ranking d-flex justify-content-between">
                  <div class="rank">
                    <%= i %>
                    <%= link_to technique_path(technique_rank) do %>
                      <%= truncate(technique_rank.title, length: 20) %>
                    <% end %>
                  </div>
                  <div class="rank-info">
                    <i class="fas fa-bookmark"></i>
                    <%= technique_rank.favors.count %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </aside>
  </div>
  <div class="techniques col-md-7">
    <% if @techniques.empty? %>
      <div class="text-center">
        <p>投稿はありません</p>
      </div>
    <% else %>
      <% @techniques.each do |technique| %>
        <div class="card mb-3">
            <div class="card-header">
              <div class="title-area text-center">
                <strong>
                  <%= link_to technique_path(technique) do %>
                    <%= technique.title %>
                  <% end %>
                </strong>
                <% if technique.youtube_url? %>
                  <i class="fab fa-youtube"></i>
                <% end %>
              </div>
            </div>
            <div class="card-body row">
              <div class="body col-md-6 offset-md-1 text-center">
                <div class="content-area">
                  <div class="weapon mb-2">
                    武器：<strong><%= technique.weapon.name %></strong>
                  </div>
                  <div class="monster mb-2">
                    モンスター：<strong><%= technique.monster.name %></strong>
                  </div>

                  <div class="difficulty mb-2">
                    難易度：<strong><%= technique.difficulty %></strong>
                  </div>
                </div>
              </div>
              <div class="information col-md-4 text-center">
                <div class="d-flex justify-content-center mb-3">
                  <div class="like-count mr-3">
                    <i class="fa fa-heart unlike-btn"></i>
                    <%= technique.likes.count %>
                  </div>
                  <div class="comment-count mr-3">
                    <%= link_to technique_path(technique, anchor: 'comments-area') do %>
                      <i class="fas fa-comments"></i>
                    <% end %>
                    <%= technique.comments.count %>
                  </div>
                  <div class="bookmark-count">
                    <i class="fas fa-bookmark"></i>
                    <%= technique.favors.count %>
                  </div>
                </div>
                <div class="user-area">
                  <%= link_to user_path(technique.user) do %>
                    <% if technique.user.image? %>
                      <%= image_tag technique.user.image.thumb40.url, class: 'icon' %>
                    <% else %>
                      <%= image_tag "/assets/default.png", class: 'default-icon-sm' %>
                    <% end %>
                    <%= technique.user.name %>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
      <% end %>
        <%= paginate @techniques %>
    <% end %>
  </div>
</div>