<div class="technique-header">
  <div class="technique-title">
    <h4><%= @technique.title %></h4>
  </div>
  <div class="created-time">
    投稿日：<%=@technique.created_at.strftime('%Y/%m/%d') %>
  </div>
  <% if @technique.user.id == current_user.id %>
    <div class="edit">
      <%= link_to icon('fas', 'pencil-alt'), edit_technique_path(@technique), class: 'button-icon button-icon-edit' %>
    </div>
  <% end %>
</div>

<div class="row justify-content-between">
  <div class="col-md-8">
    <div class="main card">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item technique-body"> 
              <%= simple_format(@technique.body) %>
          </li>
          <li class="list-group-item technique-info">
            <div class="like">
              <div id="like-button">
                <%= render 'likes/like_button', technique: @technique %>
              </div>
              <div id="like-count">
                <%= render 'likes/like_count', technique: @technique %>
              </div>
            </div>
            <div class="bookmark">
              <div id="favorite-button">
                <%= render 'bookmarks/favorite_button' %>    
              </div>
              <div id="favors-count">
                <%= render 'bookmarks/favors_count' %>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  
    <button class="button button-sm button-blue btn-block show-comment" type="button" data-toggle="collapse" data-target="#commentCollapse" aria-expanded="false" aria-controls="commentCollapse" id="comment-area">
      コメント欄を開く
    </button>
    <div class="collapse" id="commentCollapse">
      <div class="card comment-card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="comment-list-header" id="comment-list-header">
                <%= render 'comments/comments_count' %>
              </div>
              <div id="comment-list-body">
                <%= render 'comments/index', comments: @comments %>
              </div>
            </li>
            <li class="list-group-item">
              <div class="comment-form">
                <%= render 'comments/form', { comment: @comment, technique: @technique} %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <aside class="col-md-4">
    <div class="aside-content sticky-top">
      <div class="card youtube">
        <div class="card-body">
          <% if @technique.youtube_url? %>
            <div class="youtube-link">
              <iframe src="https://www.youtube.com/embed/<%= @technique.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          <% else %>
            <div class="no-youtube">動画はありません</div>
          <% end %>
        </div>  
      </div>
      <div class="card tags">
        <div class="card-body">
          <div class="monster">
            <p>モンスター：</p>
            <h5><span class="badge badge-secondary">
              <%= @technique.monster.name %>
            </span></h5>
          </div>
          <div class="weapon">
            <p>使用武器：</p>
            <h5><span class="badge badge-pill badge-dark">
              <%= @technique.weapon.name %>
            </span></h5>
          </div>
        </div>
      </div>
      <div class="card user">
        <div class="card-body">
          <div class="user-info">
            <div class="user-link">
              <div class="user-avatar">
                <%= link_to user_path(@user) do %>
                  <% if @user.image? %>
                    <%= image_tag @user.image.thumb40.url, class: 'icon' %>
                  <% else %>
                    <%= image_tag asset_path("default.png"), class: 'default-icon-md' %>
                  <% end %>
                <% end %>
              </div>
              <div class="user-name">
                <%= link_to user_path(@user) do %>
                  <%= @user.name %>
                <% end %>
              </div>
            </div>
            <div class="follow-button">
              <%= render 'relationships/follow_button', user: @user %>
            </div>
          </div>
          <div class="user-profile">
            <%= simple_format(@user.profile) %>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>