<%= link_to techniques_path do %>
  <h4>＜＜ ハンター養成所</h4>
<% end %>
<div class="card text-center">
  <div class="card-header">
    <h2><%= @technique.title %></h2>
    <% if @technique.user.id == current_user.id %>
      <h3>
        <%= link_to edit_technique_path(@technique) do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      </h3>
    <% end %>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="monster-area">
          対象モンスター：<%= @technique.monster.name %>
        </div>
        <div class="weapon-area">
          使用武器：<%= @technique.weapon.name %>
        </div>
      </li>
      <li class="list-group-item"><%= simple_format(@technique.body) %></li>
      <% if @technique.youtube_url? %>
        <li class="list-group-item">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @technique.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </li>
      <% end %>
      <li class="list-group-item">
            <div class="user-area">
              <%= link_to user_path(@user) do %>
                <% if @user.image? %>
                  <%= image_tag @user.image.thumb40.url, class: 'icon' %>
                <% else %>
                  <%= image_tag "/assets/default.png", class: 'default-icon-sm' %>
                <% end %>
                <%= @user.name %>
              <% end %>        
            </div>
        <div class="created-time mt-2">
          投稿日：<%=@technique.created_at.strftime('%Y/%m/%d') %>
        </div>
        <div id="technique_<%=@technique.id %>" class="mt-3">
          <%= render 'technique', technique: @technique %>
        </div>
      </li>
    </ul>
  </div>
</div>
<%= render 'comments/form', { comment: @comment, technique: @technique} %>
  <span>コメント</span>
  <i class="fas fa-comments"></i>
  <%= @comments.count %>件
<div id="comments-area" class="mt-3">
  <%= render 'comments/index', comments: @comments %>
</div>