<div class="row justify-content-around">
  <div class="user-profile col-md-4">
    <%= render 'user_card' %>
  </div>
  <div class="relational-list col-md-7">
    <h5>フォローしています</h5>
    <table class="table">
      <% @followings.each do |user| %>
        <tbody>
          <tr>
            <td>
              <div class="user-info">
                <div class="user-avatar">
                  <%= link_to user_path(user) do %>
                    <% if user.image? %>
                      <%= image_tag user.image.thumb40.url, class: 'icon' %>
                    <% else %>
                      <%= image_tag "/assets/default.png", class: 'default-icon-md' %>
                    <% end %>
                  <% end %>
                </div>
                <div class="user-name">
                  <%= link_to user_path(user) do %>
                    <%= user.name %>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>