<div class="row">
  <div class="profile col-md-4">
    <div class="card text-center">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="image">
            <% if @user.image? %>
              <%= image_tag @user.image.thumb100.url, class: 'icon' %>
            <% else %>
              <%= image_tag "/assets/default.png", class: 'default-icon' %>
            <% end %>
          </div>
          <h4 class="p-2"><%= @user.name %></h4>
        </li>
        <li class="list-group-item">
          <%= simple_format(@user.profile) %>
          <% if @user.id == current_user.id %>
            <%= link_to 'プロフィールの編集', edit_user_registration_path(id: current_user.id), class: 'btn btn-block btn-info' %>
          <% end %>
          <div class="logout-button m-2">
            <% if current_user == @user %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'btn btn-outline-danger' %>
            <% else %>
              <%= render 'relationships/follow_button' %>
            <% end %>
          </div>
        </li>
        <li class="list-group-item">
          ここに評価のアベレージ（星いくつ）
        </li>
      </ul>
    </div>
  </div>

  <div class="techniques border col-md-8">
    <h3 class="m-2">全ての投稿</h3>
    <% unless @techniques.exists? %>
      投稿はありません
    <% end %>
    <table class="table table-borderd">
      <% @techniques.each do |technique| %>
        <tr>
          <td>
            <div class="title">
              <%= link_to technique_path(technique) do %>
                <%= technique.title%>
              <% end %>
              <% if technique.youtube_url? %>
                <i class="fab fa-youtube"></i>
              <% end %>
            </div>
            <div class="d-flex justify-content-between">
              <div class="info">
                <i class="fa fa-heart unlike-btn"></i>
                <%= technique.likes.count %>
                <i class="fas fa-comments ml-2"></i>
                <%= technique.comments.count %>
                <i class="fas fa-bookmark ml-2"></i>
                <%= technique.favors.count %>
              </div>
              <div class="created-at">
                <%= technique.created_at.strftime('%Y/%m/%d') %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
      <%= paginate @techniques %>
  </div>
</div>
   
  

