<div class="row">
  <div class="profile col-md-4 mb-3">
    <div class="card text-center">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="image">
            <% if @user.image? %>
              <%= image_tag @user.image.thumb100.url, class: 'icon' %>
            <% else %>
              <%= image_tag "/assets/default.png", class: 'default-icon' %>
            <% end %>
          </div>
          <h4 class="p-2"><%= @user.name %></h4>
        </li>
        <li class="list-group-item">
          <%= simple_format(@user.profile) %>
          <% if @user.id == current_user.id %>
            <%= link_to 'プロフィールの編集', edit_user_registration_path(id: current_user.id), class: 'btn btn-block btn-info' %>
          <% end %>
          <div class="logout-button m-2">
            <% if current_user == @user %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'btn btn-outline-danger' %>
            <% else %>
              <%= render 'relationships/follow_button' %>
            <% end %>
          </div>
        </li>
        <li class="list-group-item">
          ここに評価のアベレージ（星いくつ）
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <h4>全ての投稿</h4>
    <% if @techniques.empty? %>
      <div class="text-center mt-3">
        <p>投稿はありません</p>
      </div>
    <% else %>
      <% @techniques.each do |technique| %>
        <table class="table">
          <tr>
            <td>
              <div class="technique-header">
                <div class="created_at">
                  <%= technique.created_at.strftime('%Y年%m月%d日') %>
                </div>
              </div>
              <div class="technique-body">
                <div class="technique-title">
                  <% if technique.youtube_url? %>
                    <%= link_to technique_path(technique, anchor: 'youtube'), id:'youtubeIcon' do %>
                      <i class="fab fa-youtube fa-lg"></i>
                    <% end %>
                  <% end %>
                  <%= link_to technique_path(technique) do %>
                    <%= technique.title %>
                  <% end %>
                </div>
                <div class="details">
                  <div class="monster">
                    <span class="badge badge-secondary">
                      <%= technique.monster.name %>
                    </span>
                  </div>
                  <div class="weapon">
                    <span class="badge badge-pill badge-dark">
                      <%= technique.weapon.name %>
                    </span>
                  </div>
                </div>
              </div>
                  <div class="reputation">
                    <div class="like-count">
                      <i class="fa fa-heart"></i>
                      <%= technique.likes.count %>
                    </div>
                    <div class="bookmark-count">
                      <i class="fas fa-bookmark"></i>
                      <%= technique.favors.count %>
                    </div>
                    <% if technique.comments.exists? %>
                      <div class="comment-count">
                        <%= link_to technique_path(technique, anchor: 'comments-area') do %>
                          <i class="fas fa-comments"></i>
                        <% end %>
                        <%= link_to technique_path(technique, anchor: 'comments-area') do %>
                          <%= technique.comments.count %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
              </div>
            </td>
          </tr>
        </table>
      <% end %>
    <% end %>
  </div>
</div>