<div class="container">
  <h1>マイページ</h1>
  <%= react_component("HelloWorld", { greeting: @user.name}) %>

  <table class="table table-bordered">
    <tr>
      <th>ユーザー名</th>
      <th>メールアドレス</th>
      <th>自己紹介文</th>
    </tr>
    <tr>
      <th><%= @user.name %></th>
      <th><%= @user.email %></th>
      <th><%= simple_format(@user.profile) %></th>
    </tr>
  </table>
  <%= link_to 'ユーザー編集', edit_user_registration_path(id: current_user.id), class: 'btn btn-info' %>
</div>

