<% unless user_signed_in? %>
  <%= render 'welcome' %>
<% end %>
<div class="row justify-content-between">
  <div class="menu col-md-5">
    <aside>
      <div class="search-form">
        <%= render 'layouts/shared/search_form', content: 'All', url: root_path %>
      </div>
      <div class="ranking">
        <%= render 'layouts/shared/ranking' %>
      </div>
    </aside>
  </div>
  <div class="techniques col-md-7">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="<%= root_path %>">All</a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link" href="<%= timeline_index_path %>">Following</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= favorites_user_path(current_user) %>">Favorites</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Following</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Favorites</a>
        </li>
      <% end %>
    </ul>
    <div id="technique-list">
      <%= render 'techniques/techniques', techniques: @techniques %>
    </div>
    <div class="more-list">
      <%= link_to_next_page @techniques, icon('fas', 'plus-circle'), remote: true, class: 'paginate-button', id: 'paginate' %>
    </div>
  </div>
</div>