<div class="row">
  <div class="menu col-md-5">
    <div class="search-form">
      <%= render 'layouts/shared/search_form', content: '全体', url: root_path %>
    </div>
    <div class="ranking">
      <%= render 'layouts/shared/ranking' %>
    </div>
    <div class="advertise">
      <%= render 'layouts/shared/adv_card' %>
    </div>
  </div>
  <div class="techniques col-md-7">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link nav-active" href="<%= root_path %>">全体</a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link" href="<%= timeline_index_path %>">フォロー</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= favorites_user_path(current_user) %>">お気に入り</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">フォロー</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">お気に入り</a>
        </li>
      <% end %>
    </ul>
    <div id="technique-list">
      <%= render 'techniques/techniques', techniques: @techniques %>
    </div>
    <div class="more-list">
      <%= link_to_next_page @techniques, icon('fas', 'plus-circle'), remote: true, class: 'paginate-button', id: 'paginate' %>
    </div>
  </div>
</div>