<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>プロはん養成所</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="gray">
      <%= render 'layouts/shared/navbar' %>
      <div class="container content-main mt-4">
        <%= render 'layouts/shared/flash_messages' %>
        <%= yield %>
        <div id="page-top">
          <a href=""><i class="fas fa-angle-double-up"></i></a>
        </div>
      </div>
    </div>
    <footer>
      <%= render 'layouts/shared/footer'%>
    </footer>
  </body>
</html>